{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "plugins": [
    "html",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "block-spacing": "error",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    //"camelcase": [1], //disabled because twitch apis love giving none camelcase object keys
    "comma-spacing": "error",
    "comma-style": ["error", "last"],
    "curly": "error",
    "eol-last": ["error", "always"],
    "eqeqeq": ["error", "smart"],
    "func-call-spacing": ["error", "never"],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "no-with": "error",
    "no-array-constructor": "error",
    "no-console": "warn",
    "no-constant-condition": ["error", { "checkLoops": false }],
    "no-extend-native": "error",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "no-undef": [0],
    "no-unused-vars": [0],
    "one-var": ["error", "never"],
    "semi": ["error", "never"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error"],
    "space-infix-ops": "error"
  }
}
